body {
    background: hsl(0, 0%, 12%);
    font-family: 'Roboto', sans-serif;
    margin: 20px
}

.image {
    width: 60%;
    height: 60%;
}

.text {
    color: whitesmoke;
    font-size: medium;
    padding: 0%;
}

.list {
    color: rgb(255, 255, 255);
    list-style-type: disc;
}

.hyper {
    color: rgb(255, 123, 0)
}

li {
    margin: 20px 0;
}