::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(70, 92, 111);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(33, 162, 243);
  border-radius: 100vh;
  border: 3px solid rgba(70, 92, 111);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(94, 191, 251);
}