@font-face {
    font-family: "Cherty";
    src: url("Cherty.ttf") format("truetype");
}

@font-face {
    font-family: "Kramola";
    src: url("Kramola.ttf") format("truetype");
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Kramola", monospace;
    font-size: 30px;
    text-align: center;
    text-shadow:
        0 0 8px #000000,
        0 0 2px #ff3700;
    color: #ea630a;

    background: #000000;
}

main {
    padding: 10px;
    gap: 10px;
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 64px rgb(171, 65, 4);
}

.scroll {
    flex: 1;
    gap: 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tab {

}

h1 {
    font-family: "Cherty", monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.backgroundImage {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
