.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    background: rgb(103, 40, 3);
    border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgb(204, 78, 5);
    border-radius: 6px;
    border: 3px solid rgb(103, 40, 3);
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 140, 4);
}
